.fragrance-selector {
  position: relative;
  width: 100%;
}

.dropdown-menu {
  width: 100%;
}

.error-text {
  margin-top: 8px;
  color: var(--negative-color-500);
}

.menu-spacer {
  height: 200px;
}
